<div class="article-preview">
  <div class="article-meta">
    <a href="/profile/<%= article.user.username %>"><img src="https://i.imgur.com/Qr71crq.jpeg" /></a>
    <div class="info">
      <a href="/profile/<%= article.user.username %>" class="author"><%= article.user.username %></a>
      <span class="date"><%= article.created_at.strftime('%B %d, %Y') %></span>
    </div>
  </div>
  <a href="/article/<%= article.slug %>" class="preview-link">
    <h1><%= article.title %></h1>
    <p><%= article.description %></p>
    <span>Read more...</span>
    <ul class="tag-list">
      <% article.tags.each do |tag| %>
        <li class="tag-default tag-pill tag-outline"><%= tag.name %></li>
      <% end %>
    </ul>
  </a>
</div>