<div class="article-preview">
  <div class="article-meta">
    <%= link_to profile_path(article.user.username) do %>
      <img src="<%= article.user.image %>" />
    <% end %>
    <div class="info">
      <%= link_to article.user.username, profile_path(article.user.username), class: 'author' %>
      <span class="date"><%= article.created_at.strftime('%B %d, %Y') %></span>
    </div>
  </div>
  <%= link_to article_path(article.slug), class: 'preview-link' do %>
    <h1><%= article.title %></h1>
    <p><%= article.description %></p>
    <span>Read more...</span>
    <ul class="tag-list">
      <% article.tags.each do |tag| %>
        <li class="tag-default tag-pill tag-outline"><%= tag.name %></li>
      <% end %>
    </ul>
  <% end %>
</div>