<% provide(:title, "Article") %>
<div class="article-page">
  <div class="banner">
    <div class="container">
      <h1><%= @article.title %></h1>
      <%= render "articles/article_meta" %>
    </div>
  </div>
  <div class="container page">
    <div class="row article-content">
      <div class="col-md-12">
        <p><%= @article.body %></p>
        <ul class="tag-list">
          <% @article.tags.each do |tag| %>
            <li class="tag-default tag-pill tag-outline"><%= tag.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <hr />
    <div class="article-actions">
      <%= render "articles/article_meta" %>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2">
        <%= form_with(model: @comment, url: post_comment_path(@article.slug), class: 'card comment-form', local: true) do |f| %>
          <div class="card-block">
            <%= f.text_area :body, class: 'form-control', rows: 3, placeholder: "Write a comment..." %>
          </div>
          <div class="card-footer">
            <img src="<%= current_user.image %>" class="comment-author-img" />
            <%= f.submit "Post Comment", class: "btn btn-sm btn-primary" %>
          </div>
        <% end %>
        <%= render partial: 'articles/comment', collection: @comments %>
      </div>
    </div>
  </div>
</div>