<% if ['new', 'create'].include?(action_name) %>
  <% url = post_article_path %>
<% elsif action_name == 'edit' %>
  <% url = patch_article_path %>
<% end %>
<%= form_with(model: @article, url: url) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <fieldset>
    <fieldset class="form-group">
      <%= f.text_field :title, class: 'form-control', placeholder: 'Article Title' %>
    </fieldset>
    <fieldset class="form-group">
      <%= f.text_field :description, class: 'form-control', placeholder: "What's this article about?" %>
    </fieldset>
    <fieldset class="form-group">
      <%= f.text_area :body, class: 'form-control', rows: "8", placeholder: "Write your article (in markdown)" %>
    </fieldset>
    <fieldset class="form-group">
      <%= f.text_field :tags, class: 'form-control', placeholder: "Enter tags" %>
    </fieldset>
    <div id="tag-list" class="tag-list">
    </div>
    <%= f.submit "Publish Article", class: "btn btn-lg pull-xs-right btn-primary" %>
  </fieldset>
<% end %>